/Users/harshit/Downloads/Research-Commons-Quant/automated-memetoken-index-pipeline/src/__pycache__
/Users/harshit/Downloads/Research-Commons-Quant/daily-rebalanced-index-pipeline/src/__pycache__
__pycache__